{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_card_content %}
    <h1>{% trans "Change Password" %}</h1>


  <div class="card border-left-3 border-left-success">
      <ul class="nav nav-tabs nav-tabs-card">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'users:update' %}" >Basic</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="{% url 'account_change_password' %}">Chagne Password</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'account_email' %}">Update Email</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'socialaccount_connections' %}">Social Accounts</a>
          </li>
      </ul>
      <div class="tab-content card-body">
          <div class="tab-pane active" id="">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
          </div>
      </div>
  </div>


    
{% endblock %}

