<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <a class="navbar-brand" href="/">BUETIAN</a>
  
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <!-- Nav Item - User Information -->
    {% if request.user.is_authenticated %}
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user.name }}</span>
        <img class="img-profile rounded-circle" src="{{ request.user.image_url }}">
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="{% url 'users:update' %}">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
         Account 
        </a>
        <a class="dropdown-item" href="{% url 'users:detail' user.username %}">
          <i class="fas fa-users fa-sm fa-fw mr-2 text-gray-400"></i>  Public Profile
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'account_logout' %}" >
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </div>
    </li>
    {% endif %}

    {% if not request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
      </li>

    {% endif %}

  </ul>

</nav>
<!-- End of Topbar -->
