.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #a23c38;
  font-size: 36px;
}

.activityTimline::before {
  background: #a23c38;
}

.seeMoreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seeMoreBtn > a {
  background: #a23c38;
  padding: 15px 18px;
  text-decoration: none;
  border-radius: 28px;
  position: relative;
  color: white;
}

@media(max-width: 1170px) {
  .seeMoreBtn {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
