.container {
  margin: 0;
}

.hero {
  position: relative;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  left: calc(-50vw + 50%);
  width: 100vw;
}

.heroBtn {
  background: #a23c38;
  padding: 14px 4px;
  text-decoration: none;
  border-radius: 28px;
  border: 2px solid;
}

.heroBtn:hover {
  background: #771e1b;
}

.heroDetails {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  left: 50%;
  bottom: 20%;
  transform: translate(-50%, 0);
  font-size: 14px;
  padding: 24px;
  border-radius: 5px;
  min-height: 160px;
}

@media(min-width: 600px) {
  .heroDetails {
    font-size: 16px;
    left: 25%;
  }
  .heroBtn {
    padding: 15px 18px;
  }
}

@media(min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
  .container {
    margin: 0 -140px;
  }
}

.heroHeadline {
  margin: 0;
  line-height: 1em;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}
